[Unit]
Description=Monitor and enforce permissions home directory and .ssh for user %I
After=network.target

[Service]
ExecStart=/usr/local/bin/check_and_fix_ssh_permissions.sh %i
Restart=always
User=root
ExecStartPre=/bin/bash -c 'while ! systemctl is-active ssh || ! [ -d /home/%i ]; do echo "Waiting for ssh and /home/%i ... "; sleep 5; done'


[Install]
WantedBy=multi-user.target